.custom-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:checked+.style-checkbox {
    background-color: $accent;
    border: none;
    background-image: url(../images/dist/icons/checkbox.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px;
  }
}

.style-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  flex-shrink: 0;
  margin-right: 10px;
  display: block;
  cursor: pointer;
}

/** HTML code
  <label>
    <input class="custom-checkbox" type="checkbox">
    <span class="style-checkbox"></span>
  </label>
*/