.form {
  user-select: none;

  &.--sending {
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(255, 255, 255, 0.6);
      z-index: 90;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url(../images/icons/refresh.svg);
      background-position: center center;
      background-size: 100px;
      background-repeat: no-repeat;
      opacity: 0.7;
      z-index: 100;
      animation: refreshForm infinite 2s;
    }
  }
}

@keyframes refreshForm {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}