input {
  display: block;
  width: 100%;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
.input {
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  &::placeholder {
    color: #878787;
  }
}