# Ignore wp-config.php, git files and .htaccess
wp-config.php
.htaccess
/.git/

# Ignore them file
/source/node_modules
/source/Thumbs.db
/source/*.DS_Store
/source/package-lock.json
/source/debug.log