.datepicker-picker button {
  background-color: $accent;
  color: #fff;
  border: none;
}

/** HTML code
  <input class="date-input" placeholder="date" autocomplete="off" name="deadline" type="text" />
*/