.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease-in-out;
  &__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
  }
  &__content {
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
  }
  &__head {
    height: 40px;
    position: relative;
    border-bottom: 1px solid #cccccc;
  }
  &__close {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 32px;
    height: 32px;
    svg path:nth-child(2) {
      transition: fill 0.3s ease-in-out;
    }
  }
  &__close:hover path:nth-child(2) {
    fill: $accent;
  }
  &__inner {
    padding: 50px 30px;
  }
  &__title {
    font-size: 18px;
    color: #878787;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
  }
  &__text {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #63656b;
    margin-bottom: 30px;
  }
  &.open {
    opacity: 1;
    visibility: visible;
  }
  .form__btn {
    margin-top: 0;
  }
}