// GENERAL PROJECT STYLES

html
  scroll-behavior: smooth

body.--lock
  overflow: hidden

h2 
  font-size: clamp(1.5rem, calc(1.14rem + 1.82vw), 2.5rem)

#wpadminbar
  top: auto
  bottom: 0
  position: fixed

.wrapper
  display: flex
  flex-direction: column
  width: 100%
  min-height: 100vh
  justify-content: space-between

.container
  max-width: 1200px
  padding: 0 clamp(0.625rem, 0.313vw + 0.563rem, 0.938rem)
  margin: 0 auto

.section
  @include fluidMarginTB(40px, 80px, 480px, 1024px, 40px)
