<div class="faq">
  <div class="faq__wrapper">
    <h4 class="faq__head faq__btn">
      Навигация 1
    </h4>
    <div class="faq__content">
      <p class="faq__text">
        Контент 1
      </p>
    </div>
  </div>
  <div class="faq__wrapper">
    <h4 class="faq__head faq__btn">
      Навигация 2
    </h4>
    <div class="faq__content">
      <p class="faq__text">
        Контент 2
      </p>
    </div>
  </div>
  <div class="faq__wrapper">
    <h4 class="faq__head faq__btn">
      Навигация 3
    </h4>
    <div class="faq__content">
      <p class="faq__text">
        Контент 3
      </p>
    </div>
  </div>
</div>