<div class="form-select">
  <label class="form-select__label form__label" for="header-specialization">Кастомный селект</label>
  <div class="form-select__btn">Выберите пункт</div>
  <ul class="form-select__list">
    <li class="form-select__list-item">Первый</li>
    <li class="form-select__list-item">Второй</li>
    <li class="form-select__list-item">Третий</li>
    <li class="form-select__list-item">Четвертый</li>
    <li class="form-select__list-item">Пятый</li>
    <li class="form-select__list-item">Первый</li>
    <li class="form-select__list-item">Второй</li>
    <li class="form-select__list-item">Третий</li>
    <li class="form-select__list-item">Четвертый</li>
    <li class="form-select__list-item">Пятый</li>
    <li class="form-select__list-item">Первый</li>
    <li class="form-select__list-item">Второй</li>
    <li class="form-select__list-item">Третий</li>
    <li class="form-select__list-item">Четвертый</li>
    <li class="form-select__list-item">Пятый</li>
    <li class="form-select__list-item">Первый</li>
    <li class="form-select__list-item">Второй</li>
    <li class="form-select__list-item">Третий</li>
    <li class="form-select__list-item">Четвертый</li>
    <li class="form-select__list-item">Пятый</li>
  </ul>
  <input class="form-select__input-hidden" id="header-specialization" name="specialization" type="text" />
</div>