<div class="slider">
  <div class="slider__body swiper">
    <div class="slider__wrapper swiper-wrapper">
      <div class="slider__slide swiper-slide">
        <a class="slider__link" href="images/dist/slider/slider-img-full.jpeg" data-fancybox="slider gallery">
          <picture>
            <source class="swiper-lazy" type="image/webp" data-srcset="images/dist/webp/slider/slider-img-min.webp">
            <img class="swiper-lazy" data-src="images/dist/slider/slider-img-min.jpeg">
          </picture>
        </a>
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="slider__slide swiper-slide">
        <a class="slider__link" href="images/dist/slider/slider-img-full.jpeg" data-fancybox="slider gallery">
          <picture>
            <source class="swiper-lazy" type="image/webp" data-srcset="images/dist/webp/slider/slider-img-min.webp">
            <img class="swiper-lazy" data-src="images/dist/slider/slider-img-min.jpeg">
          </picture>
        </a>
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="slider__slide swiper-slide">
        <a class="slider__link" href="images/dist/slider/slider-img-full.jpeg" data-fancybox="slider gallery">
          <picture>
            <source class="swiper-lazy" type="image/webp" data-srcset="images/dist/webp/slider/slider-img-min.webp">
            <img class="swiper-lazy" data-src="images/dist/slider/slider-img-min.jpeg">
          </picture>
        </a>
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="slider__slide swiper-slide">
        <a class="slider__link" href="images/dist/slider/slider-img-full.jpeg" data-fancybox="slider gallery">
          <picture>
            <source class="swiper-lazy" type="image/webp" data-srcset="images/dist/webp/slider/slider-img-min.webp">
            <img class="swiper-lazy" data-src="images/dist/slider/slider-img-min.jpeg">
          </picture>
        </a>
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="slider__slide swiper-slide">
        <a class="slider__link" href="images/dist/slider/slider-img-full.jpeg" data-fancybox="slider gallery">
          <picture>
            <source class="swiper-lazy" type="image/webp" data-srcset="images/dist/webp/slider/slider-img-min.webp">
            <img class="swiper-lazy" data-src="images/dist/slider/slider-img-min.jpeg">
          </picture>
        </a>
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="slider__slide swiper-slide">
        <a class="slider__link" href="images/dist/slider/slider-img-full.jpeg" data-fancybox="slider gallery">
          <picture>
            <source class="swiper-lazy" type="image/webp" data-srcset="images/dist/webp/slider/slider-img-min.webp">
            <img class="swiper-lazy" data-src="images/dist/slider/slider-img-min.jpeg">
          </picture>
        </a>
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
  </div>
  <div class="slider__next">
    Вперед
  </div>
  <div class="slider__prev">
    Назад
  </div>
  <div class="slider__nav"></div>
</div>