<div class="tab">
  <div class="tab__nav-inner">
    <div class="tab__nav --active-tab">
      Первый
    </div>
    <div class="tab__nav">
      Второй
    </div>
    <div class="tab__nav">
      Третий
    </div>
    <div class="tab__nav">
      Четвертый
    </div>
  </div>

  <div class="tab__content-inner">
    <div class="tab__content --active-tab">
      Первый контент
    </div>
    <div class="tab__content">
      Второй контент
    </div>
    <div class="tab__content">
      Третий контент
    </div>
    <div class="tab__content">
      Четвертый контент
    </div>
  </div>
</div>